<a
href="#"
class="list-group-item clearfix"
(click)="onSelectedItem()"
>

<div class="col-sm">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">

      <h3 class="mb-0">{{recipe.name}}</h3>
      <p class="card-text mb-auto">{{recipe.description}}</p>
    </div>
    <div class="col-auto d-none d-lg-block">
      <img src="{{recipe.imagePath}}"
      [src]="recipe.imagePath" alt="{{recipe.name}}"
      style="max-height: 100px;"
      class="img-responsive">
    </div>
  </div>
</div>
</a>